<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Input name</label> <br>
            <input type="text" name="name"/>
        </p>
        <p>
            <label>Input age</label> <br>
            <input type="number" name="age">
        </p>
        <input type="submit" value="save">
    </form>
    {% if people.count > 0 %}
    <h2>the List of users</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>